@import './button.css';
@import './find.css';
@import './css/bookmar.css';
@import './css/jobs.css';
@import './css/jobs2.css';
@import './css/content__app.css';
@import './find2.css';


:root {
    --green: #0DAA00;
    --black: #0000;
    --white: #ffff;
    --gray: #8F8F8F;

    --blue: #001233;
    --purple: #3C096C;
    --orange: #FF5400;
    --red: #A4161A;
}

/*cofig*/
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
  }
  
  /*container*/
  .container {
    height: 100vh;
    width: 100%;
  }
  
  .wrapper {
    max-width: 360px;
    height: 100%;
    /* border: 1px solid red; */
  }
  
  .content {
    /* border: 1px solid blue; */
    height: 100%;
    display: flex;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    background-color: var(--green);
    height: 100%;
    width: 100%;
    padding: 16px;
  }
  
  .home h1 {
    text-align: center;
    color: var(--white);
    font-weight: 500;
  }
  


