.bi-google {
    font-size: 28px;
}

.bi-buildings {
    font-size: 20px;
}

.bi-bookmarks-fill {
    font-size: 28px;
}

.bi-clock {
    font-size: 20px;
}

.bi-person-check {
    font-size: 20px;
}

.bi-geo-alt {
    font-size: 20px;
}

.bi-book-half {
    font-size: 26px;
}

.bi-coin {
    font-size: 26px;
}

.bi-chevron-right {
    font-size: 28px;
}
