.jobs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

    .text__job {
        display: flex;
        flex-direction: column;
        color: #000;
        font-size: 16px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .job__less {
        display: flex;
        width: 328px;
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        border-radius: 8px;
        border: 1px solid #8F8F8F;
        box-shadow: 0px 4px 4px 0px var(--black);
    }

        .job__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
        }

            .job__container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
            }

                .title__job__less {
                    color: black;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .content__zero {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }

                    .text__job__less {
                        color: rgba(54, 50, 50, 0.76);
                        text-align: center;
                        font-family: Roboto;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

            .text__job__max {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-self: stretch;
                color: black;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .content__job {
                display: flex;
                align-items: flex-start;
                gap: 14px;
                align-self: stretch;
            }

                .clock {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }

                    .text__clock {
                        color: #736D6D;
                        text-align: center;
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                .visits {
                    display: flex;
                    align-items: center;
                    align-self: stretch;
                    gap: 4px;
                }

                    .text__visits {
                        color: #736D6D;
                        text-align: center;
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }